.BoardList {
  float: right;
  width: 80%;
  padding-top: 0;
  height: 95vh;
  /* background: linear-gradient(to bottom, #8282ff 30%, #e3e7ff 30%); */
}
.info {
}

.table {
  margin: 0 auto;
  width: 90%;
  border-spacing: 0;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.table td {
  color: #525252;
  border-top: 1px solid #c4c4c4;
}
.table thead {
  height: 50px;
}
.table thead tr {
  border-top: 3px solid #c2c2c2;
}
.table tbody tr {
  height: 50px;
  transition: 0.1s ease-in-out;
}
.table tbody tr:hover {
  background-color: rgba(130, 130, 255, 0.5);
}

.BoardDetail {
  width: 80%;
  float: right;
  width: 80%;
  padding-top: 0;
  height: 95vh;

  /* background: linear-gradient(to bottom, #8282ff 30%, #e3e7ff 30%); */
}

.boardContent {
  width: 75%;
  float: left;
}
.Board {
  border: 1px solid #e0e0e0;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
  width: 90%;
  border-spacing: 0;
  padding: 10px;
  border-radius: 5px;
  height: 80vh;
}

.boardTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
}
.boardTitle h1 {
  font-size: 1.5rem;
}
.boardTitle p {
  text-align: left;
  /* padding: 10px; */
}
.boardTitle button {
  float: left;
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

.boardTitle button:hover {
  transition: 0.2s ease-in-out;
  background-color: #8282ff;
  color: white;
}
.boardText {
  margin: 0 auto;
  text-align: left;
}
.boardText span {
  padding-left: 5%;
  padding-right: 5%;
}
.boardText div {
  margin-left: 5%;
}
/* search */
.searchForm {
  margin: 10px;
  position: relative;
}
.searchIcon {
  margin-left: 1%;
  width: 20px;
  height: auto;
  position: absolute;
  top: 0.8rem;
  font-size: 1.3rem;
  opacity: 0.4;
  filter: invert(72%) sepia(61%) saturate(6782%) hue-rotate(217deg)
    brightness(107%) contrast(101%);
}
.searchForm input {
  display: float;
  border: 1px solid rgba(130, 130, 255, 0.5);
  border-radius: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 3px;
  width: 50%;
  transition: background 0.5s;
  transition: 0.2s;
}
.searchForm input:focus {
  background: white;
  border: 1px solid rgba(130, 130, 255, 1);
}

.searchBtn {
  display: none;
}

.resetBtn {
  position: absolute;
  width: 48px;
  height: 48px;
  padding: 0;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  margin-left: 10px;
  background: none;
  border: 1.5px solid rgba(130, 130, 255, 0.5);
}
.resetBtn img {
  width: 25px;
  filter: invert(80%) sepia(93%) saturate(1%) hue-rotate(348deg) brightness(95%)
    contrast(97%);
  position: absolute;
  top: 0.5rem;
  left: 0.6rem;
}
.resetBtn:hover {
  background-color: white;
  border: 1px solid rgba(130, 130, 255, 1);
}
.resetBtn:hover img {
  filter: invert(52%) sepia(29%) saturate(1249%) hue-rotate(202deg)
    brightness(100%) contrast(109%);
}
