.CommentsWrapper {
  display: inline-block;
  width: 24%;
  border-left: 1px solid #c2c2c2;
  height: 100%;
}
.commentPostList {
  height: 73vh;
  width: 100%;
  padding-left: 10px;
  overflow-y: auto;
  display: inline-block;
  margin: 0;
  scroll-behavior: smooth;
}

.commentPost {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.commentPost div {
  font-size: 12px;
  line-height: 20px;
}
.commentPost p {
  height: 15px;
  line-height: 15px;
  margin: 0;
  font-weight: 500;
  font-size: 10px;
}
.commentPost img {
  float: left;
  margin-right: 3%;
  height: 30px;
  width: 30px;
  border: 1px solid #c2c2c2;
  border-radius: 100%;
}
.commentText {
  margin-left: 10%;
}
.commentContent {
  font-weight: 600;
  margin-top: 10px;
  width: 80%;
  margin-left: 5%;
}
.commentContent textarea {
  width: 90%;
  height: 10%;
  resize: none;
}
.commentButton {
  float: right;
  margin-right: 10%;
  color: #c5c5c5;
}
.commentButton button {
  border: none;
  background-color: white;
  color: #c5c5c5;
  cursor: pointer;
}
.commentButton button:hover {
  color: black;
}
.commentInput {
  display: block;
  width: 100%;
  margin-bottom: 5%;
}
.commentInput input {
  margin-left: 5%;
  width: 95%;
  height: 40px;
}
.commentInput button {
  display: none;
}
