.Profile {
  display: flex;
  flex-direction: column;
  float: right;
  width: 80%;
  height: 95vh;
  background: linear-gradient(to bottom, #8282ff 30%, #e3e7ff 30%);
}

/* .Profile .USerForm {
  width: 80%;
  display: flex;
  flex-direction: column;
} */

.Profile .UserIcon {
  display: flex;
  background-color: white;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
  border-bottom: 2px solid rgba(107, 107, 107, 0.6);
  border-left: 2px solid rgba(107, 107, 107, 0.6);
  border-top: 2px solid rgba(107, 107, 107, 0.6);
  box-shadow: 5px 5px 5px gray;
}

.Profile .UserIcon ul {
  display: flex;
  flex-direction: column;
}

.Profile .UserIcon .AboutMe {
}

.Profile .UserIcon .AboutMe li h2 {
  color: #8282ff;
  margin: 0 0;
}

.Profile .UserIcon ul li {
  margin: 0 auto;
}

.Profile .Icon {
  width: 150px;
  height: 150px;
  margin: 30px;
}

.Profile .UserImformation {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 450px;
  border-radius: 0 0 15px 15px;
  margin-top: -20px;
  border-left: 2px solid rgba(107, 107, 107, 0.6);
  box-shadow: 5px 5px 5px gray;
}

.Profile .UserImformation ul li {
  display: flex;
  width: 100%;
  background-color: #8282ff;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

.Profile .UserImformation ul .UserImformationTitle {
  background-color: white;
}

.Profile .UserImformation ul .UserImformationTitle h2 {
  color: #8282ff;
}

.Profile .UserImformation ul img.IdIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.Profile .UserImformation ul img.EmailIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.Profile .UserImformation ul img.GenderIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.Profile .UserImformation ul img.CalendarIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.Profile .UserImformation ul.Sns {
  margin: 15px 525px;
  display: flex;
  width: 100px;
}

.Profile .UserImformation ul.Sns img {
  width: 25px;
  height: 25px;
}

/* .Profile .MyPostList{
  width: 785px;
  
  background-color: #c5c5c5;
  border-radius: 15px;
  margin: 15px;
}
.Profile .MyPostList .MyCreatedList{
  height: 10%;
} */
