.Join {
  min-height: 100vh;
  display: flex;
  background-color: #FBFBFB;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 40%;

  /* margin: -70px 610px; */
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
}
form{
  width: 100%;
}
.container input {
  width: 55%;
  height: 30px;
  margin: 0 auto;
  margin-left: 15%;
  margin-top: 3%;
  outline: none;
  background: #c2c2c2;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  transition: background 0.5s;
  border: solid 1px rgba(0, 0, 0, 0);
}

.container input:focus{
  background-color: #FFFFFF;
  border: solid 1px rgba(130, 130, 255, 0.85);
}

.container label {
  display: flex;
  margin-top: 2%;
  margin-left: 15%;
  font-weight: bold;
  color: black;
}
h2{
  margin: 5% 15%;
}

.container .createBtn {
  width: 20%;
  margin-right: 5%;
  padding: 1rem;
  background: #FFFFFF;
  color: #8282FF;
  border: solid 1px #8282FF;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}
.container .createBtn:hover {
  background-color: rgba(130, 130, 255, 0.85);
  color: #FFFFFF;
  cursor: pointer;
}

.container .backBtn {
  width: 20%;
  margin-right: 5%;
  padding: 1rem;
  background: #FFFFFF;
  color: #8282FF;
  border: solid 1px #8282FF;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.5s;
}

.container .backBtn:hover {
  background-color: rgba(130, 130, 255, 0.85);
  color: #FFFFFF;
  cursor: pointer;
}

.radioBtnWrapper {
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .radioBtnWrapper input {
  width: 30px;
  margin-left: 30px;
}

.container .radioBtnWrapper label {
  width: 50px;
  margin-top: 15px;
  margin-left: 10px;
}

.formBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}

.lastWrap{
  display: flex;
  width: 100%;
  margin: 5% 25%;
}

#age{
  width: 74%;
}

.age{
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

.sexWrapper{
  display: flex;
  flex-direction: column;
  margin-left: -5%;
}

.sexWrapper label {
  margin-left: -40%;
}

.maleRadio {
  display: flex;
}

.femaleRadio {
  display: flex;
}

.femaleRadio label{
  transform: translateY(-25%);
}

.maleRadio label{
  transform: translateY(-25%);
}