.Join{
    width: 1920px;
    height: 1080px;
    background-color: #8282ff;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 650px;
    margin: -70px 610px;
    background-color: white;
    transform: translateY(80px);
    box-sizing: border-box;
    border-radius: 15px;
}

.container input{
    width: 250px;
    height: 30px;
    margin:0 auto;
    margin-top: 10px;
}

.container p{
    margin: 10px auto;
}

.container .create-btn{
    width: 120px;
    height: 30px;
    margin: 10px;
    margin-left: 122.5px;
}

.container .reset-btn{
    width: 120px;
    height: 30px;
    margin: 10px;
}

.radio-btn{
    width: 100px;
    margin: 0 auto;
    display: flex;
}

.container .radio-btn input{
    width: 30px;
}

.container .radio-btn label{
    width: 50px;
    margin-top: 15px;
}

.male-radio{
    display: flex;
    flex-direction: row;
}

.female-radio{
    display: flex;
    flex-direction: row;
}
.Join .JoinLogo{
    margin-left: 715px;
}

.radio-btn label{
    margin-left: 10px;
}

.radio-btn{
   margin-left: 180px;
}

.JoinLogo img{
    margin-top: 60px;
    width: 300px;
}