.Page {
  background: #8282ff;
  width: 100%;
  height: 100vh;
}

.title {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  padding-top: 15%;
  text-align: center;
}

.contentWrap {
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  width: 350px;
  height: 300px;
}

.id {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.id p {
  width: 50px;
  margin-left: 100px;
}

.password {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.password p {
  width: 70px;
  margin-left: 90px;
}

.Page .id input {
  width: 250px;
  height: 30px;
}

.Page .password input {
  width: 250px;
  height: 30px;
}
.Page button {
  width: 120px;
  height: 30px;
  margin: 10px;
}

.btnWrap {
  margin-top: 30px;
  margin-left: 40px;
}

.btnWrap button {
  background-color: #8282ff;
  border: none;
  border-radius: 5px;
}

.btnWrap button:hover {
  background-color: green;
  transform: scale(1.3);
  color: white;
  border: none;
  border-radius: 5px;
}
