.pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 20%;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-left: 5px;
}

ul.pagination li:nth-child(2),
ul.pagination li:nth-last-child(2) {
  font-weight: 700;
}
ul.pagination li:hover a {
  color: blue;
}
ul.pagination li a {
  text-decoration: none;
  color: #8282ff;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #8282ff;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #8282ff;
  border-radius: 100%;
}
.Paging button {
  clear: both;
  position: absolute;
  right: 10px;
  float: right;
}
