.Top {
  padding-bottom: 30px;
  width: 80%;
  float: right;
  height: 5vh;
  /* background-color: #8282ff; */
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fbfbfb;
}

.Top img {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
.Top ul {
  margin-top: 50px;
  margin-right: 20px;
}
.Top li {
  float: right;
  list-style-type: none;
}
.Top span {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  margin-top: 0;
  margin-left: 5px;

  line-height: 30px;
}
.Top button {
  margin-left: 10px;
  line-height: 25px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #8282ff;
  color: white;
}
.Top span:first-child {
  font-weight: 800;
}

.Top h2 {
  margin-top: 50px;
  margin-left: 6%;
  float: left;
  /* color: white; */
}
