.Top {
  padding-bottom: 1.875rem;
  width: 80%;
  float: right;
  height: 8vh;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fbfbfb;
}

.Top img {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
.Top ul {
  margin-top: 3.125rem;
  margin-right: 1.25rem;
}
.Top li {
  float: right;
  list-style-type: none;
}
.Top li:first-child {
  margin-right: 3%;
}
.Top span {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.75rem;
  margin-top: 0;
  margin-left: 5px;
  line-height: 1.875rem;
}

.Top span:first-child {
  font-weight: 800;
}

.Top h2 {
  margin-top: 3.125rem;
  margin-left: 6%;
  float: left;
  font-size: 2rem;
  /* color: white; */
}
