.Side {
  position: absolute;
  top: 0;
  border-right: 1px solid #e0e0e0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  text-align: left;
}

.Logo {
  width: 100%;
  height: auto;
}
.Menu {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.active {
  border-radius: 10px;
  background-color: rgba(80, 62, 157, 0.5);
}
.Menu p {
  text-decoration: none;
  padding-left: 10%;
  font-weight: 700;
  color: gray;
}

.Menu a {
  text-decoration: none;
}
.Menu a:hover {
  background-color: #8282ff;
}
.Menu a:hover p {
  color: white;
}
/* logout button */
.Menu a:last-child {
  border-top: 1px solid #e0e0e0;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
}
.Menu a:last-child p {
  margin-top: 13%;
}

.Menu a:last-child img {
  width: 20px;
  filter: invert(52%) sepia(2%) saturate(13%) hue-rotate(51deg) brightness(96%)
    contrast(90%);
}
.Menu a:last-child:hover img {
  filter: invert();
}
.logoutIcon {
  width: 20px;
  height: auto;
  position: absolute;
  font-size: 1.3rem;
  left: 0.4rem;
}
