.Side {
  display: inline-block;
  border-right: 1px solid #e0e0e0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  text-align: left;
}

.Logo {
  width: 100%;
  height: auto;
}
.Menu {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.active {
  border-radius: 10px;
  background-color: rgba(80, 62, 157, 0.5);
}
.Menu p {
  padding-left: 10%;
}

.Menu a:hover {
  background-color: #8282ff;
}
.Menu a:hover p {
  color: white;
}
.sidebar-item p {
  font-weight: 600;
}
