.App {
  text-align: center;
}
.active {
  background-color: rgba(130, 130, 255, 0.5);
}
.active p {
  color: #8282ff;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 50vh;
  max-height: 50vh;
}
