/* *{
    margin: 0 auto;
}
.Join{
    width: 1920px;
    height: 1080px;
    background-color: #8282ff;
    margin-top: -10px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
    background-color: white;
    transform: translateY(80px);
    box-sizing: border-box;
    border-radius: 15px;
}

input{
    width: 250px;
    height: 30px;
    margin-top: 10px;
}

p{
    margin-top: 10px;
}

button{
    width: 120px;
    height: 30px;
    margin: 10px;
} */
