/* * {
  margin: 0 auto;
}

.Page {
  background: #8282ff;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  width: 350px;
  height: 250px;
  background: white;
}

.id {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.password {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

input {
  width: 250px;
  height: 30px;
  margin-top: 10px;
}

button {
  width: 120px;
  height: 30px;
  margin: 10px;
} */
